<div class="PictureBlockWrapper" id="PictureBlockWrapper{{$index}}" style="float: left">
    <div class="PictureBlockPaddingWrapper" id="PictureBlockPaddingWrapper{{$index}}" style="width:100%;height: 100%">
        <div class="PictureBlockContent" id="PictureBlockContent{{$index}}" style="width:100%;height: 100%">
            <div style="width: 100%;height: 100%">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary btn-sm"
                            ng-click="editPictureBlock()">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm"
                            ng-click="deleteItem()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <h3 style="margin: 0px;color:white" >{{$item.name}}</h3>
                <div class="bg-info">{{$item.description}}</div>
            </div>

            <!--<div style="width: 100%;height: 20%">-->
            <!--<div style="width: 100%;padding-right: 5%;padding-left: 5%">-->
                <!--<button class="btn-block btn btn-xs btn-primary" ng-click="editPictureBlock()">编辑</button>-->
            <!--</div>-->
        </div>

        </div>
    </div>
</div>
