<div style="height: 10%;width: 100%"></div>
<div style="width: 10%;height: 1px;float: left"></div>
<div ng-controller="controllerCourseCenterTeacherResource" style="width: 80%;float: left">
    <!--添加滚动图片模态框-->
    <div class="modal fade" id="newRollPictureModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="closeRollPictureModal()">&times;</button>
                    <h4 class="modal-title">添加滚动图片</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <tbody>
                        <!--<tr>-->
                        <!--<td width="25%" class="bg-primary">课程名</td>-->
                        <!--<td><input type="text" class="CourseCenterTeacher" ng-model="newCourse.name"></td>-->
                        <!--</tr>-->
                        <tr>
                            <td width="25%" class="bg-primary">图片描述</td>
                            <td><input type="text" class="CourseCenterTeacher" ng-model="newItemEntity.description">
                            </td>
                        </tr>
                        <tr>
                            <td width="25%" class="bg-primary">上传图片</td>
                            <td>
                                <input class="fileUploadInput" name="files" type="file" class="file-loading">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="createNewCourse()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="width: 100%">


        <!--------------------------------------------------首页消息------------------------------------------------------------>
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                       aria-controls="collapseOne">
                        首页消息
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <table class="table-bordered table">
                        <thead>
                        <tr>
                            <td>时间</td>
                            <td>标题</td>
                            <td>内容</td>
                            <td ng-if="hasPrivilege">
                                操作
                                <button type="button" class="btn btn-danger btn-sm pull-right"
                                        style="display: inline-block;"
                                        ng-click="addIndexMessage()" ng-disabled="indexMessageList[0].id=='' ">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span style="font-size: 5px; display:inline-block; margin: 0px">新建</span>
                                </button>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in indexMessageList track by $index">
                            <td>{{x.createDate|date:"yyyy-MM-dd"}}</td>
                            <td><textarea rows="1" class="CourseCenterTeacherResource" ng-model="x.title"
                                          ng-disabled="!x.isEditing"></textarea></td>
                            <td><textarea rows="1" class="CourseCenterTeacherResource" ng-model="x.description"
                                          ng-disabled="!x.isEditing"></textarea></td>
                            <td ng-if="hasPrivilege">
                                <directive-edit $list="indexMessageList" $item="x" $index="$index"
                                                save-callback="updateItemEntity(x)"></directive-edit>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!--------------------------------滚动图片------------------------------------------------------------>
        <div class="panel panel-primary" style="width: 100%">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a ng-click="initPosition();" class="collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo" aria-expanded="false"
                       aria-controls="collapseTwo">
                        首页滚动图片
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"
                 style="width: 100%">
                <div class="panel-body" style="width: 100%">
                    <div style="float: left;width: 12.5%;" id="newRollPictureDiv" ng-if="hasPrivilege">
                        <table align="center" style="width:100%;height: 100%">
                            <tbody>
                            <tr>
                                <td align="center" style="width:100%;height: 100%">
                                    <a data-toggle="modal" href="#newRollPictureModal"
                                       ng-click="InitNewRollPictureModal()">
                                        <span style="font-size: 300%;" class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <directive-picture-block ng-if="isOpenCollapseTwo()" $list="rollPictureList"
                                             ng-repeat="x in rollPictureList" $item="x" $index="$index" $width="'12.5%'" $editable="hasPrivilege"
                                             $padding="'1%'"></directive-picture-block>
                </div>
            </div>
        </div>

        <!------------------------------------------------作业的功能------------------------------------------------->
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                       aria-expanded="false"
                       aria-controls="collapseThree">
                        课程作业
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <table class="table-bordered table">
                        <thead>
                        <tr>
                            <td>时间</td>
                            <td>标题</td>
                            <td>内容</td>
                            <td>附件</td>
                            <td ng-if="hasPrivilege">
                                操作
                                <button type="button" class="btn btn-danger btn-sm pull-right"
                                        style="display: inline-block;"
                                        ng-click="addAssignment()" ng-disabled="assignmentList[0].id=='' ">
                                    <span class="glyphicon glyphicon-plus"></span>新建
                                </button>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in assignmentList track by $index">
                            <td>{{x.createDate|date:"yyyy-MM-dd"}}</td>
                            <td><textarea rows="1" class="CourseCenterTeacherResource" ng-model="x.title"
                                          ng-disabled="!x.isEditing"></textarea></td>
                            <td><textarea rows="1" class="CourseCenterTeacherResource" ng-model="x.description"
                                          ng-disabled="!x.isEditing"></textarea></td>
                            <td>
                                <div ng-repeat="resource in x.resources" style="height: 30px;">
                                    <a ng-href="{{resource.htmlAccessPath}}" download="">{{resource.originName}}</a>
                                    <button class="btn btn-sm btn-danger pull-right" ng-click="deleteFileFromItem(x,$index)" ng-if="hasPrivilege"><span
                                            class="glyphicon glyphicon-remove"></span></button>
                                </div>
                                <button class="btn btn-sm btn-primary pull-right " ng-click="addFileToItem(x)" ng-if="x.id!='' &&hasPrivilege" >
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </td>
                            <td ng-if="hasPrivilege">
                                <directive-edit $list="assignmentList" $item="x" $index="$index"
                                                save-callback="updateItemEntity(x)"></directive-edit>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!--------------------------------------------------------------资源------------------------------------------------------>
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                       aria-expanded="false"
                       aria-controls="collapseFour" ng-click="initPosition()">
                        课程文档
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <div style="float: left;width: 12.5%;" id="newDocumentDiv" ng-if="hasPrivilege">
                        <table align="center" style="width:100%;height: 100%">
                            <tbody>
                            <tr>
                                <td align="center" style="width:100%;height: 100%">
                                    <a ng-click="addDocument()">
                                        <span style="font-size: 300%;" class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <directive-document-block ng-if="isOpenCollapseFour()" $list="documentList" $editable="hasPrivilege"
                                             ng-repeat="x in documentList" $item="x" $index="$index" $width="'12.5%'"
                                             $padding="'1%'"></directive-document-block>

                </div>
            </div>
        </div>


        <!--------------------------------------------------------课程视频------------------------------------------------------>
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                       aria-expanded="false"
                       aria-controls="collapseThree" ng-click="initPosition()">
                        课程视频
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <div style="float: left;width: 12.5%;" id="newVideoDiv" ng-if="hasPrivilege">
                        <table align="center" style="width:100%;height: 100%">
                            <tbody>
                            <tr>
                                <td align="center" style="width:100%;height: 100%">
                                    <a ng-click="addVideo()">
                                        <span style="font-size: 300%;" class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <directive-video--block ng-if="isOpenCollapseFive()" $list="videoList" $editable="hasPrivilege"
                                              ng-repeat="x in videoList" $item="x" $index="$index" $width="'12.5%'"
                                              $padding="'1%'"></directive-video--block>

                </div>
            </div>
        </div>
    </div>
</div>