<div class="container-fluid" ng-controller="controllerUserInformation">
    <div class="modal fade" id="passwordCheckModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="userInformation.isEditing=false">&times;</button>
                    <h4 class="modal-title" ng-bind="passwordCheckModalCaption"></h4>
                </div>
                <div class="modal-body">
                    <input class="UserInformation" type="password" ng-model="passwordCheck">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="passwordCheckFunc()">{{localeProperties["locale.yes"]}}</button>
                </div>
            </div>
        </div>
    </div>


    <!--这个用来当左边边距-->
    <div style="width: 20%; float: left;display: block;height: 1px"></div>
    <div style="width: 60%; float: left;display: block">
        <!--这个div用来当上边边距-->
        <div style="height: 20%;width: 100%"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="display: inline-block;width: 50%">{{localeProperties["locale.personalInformation"]}}</h3>
                <div style="float: right;background-color: white; padding: 3px;margin-top:-5px;border-radius: 5px" ng-if="editType!='look'">
                    <!--编辑按钮指令-->
                    <directive-edit $item="userInformation" before-callback="showPassCheckModal()"
                                    save-callback="updateUser()"></directive-edit>
                </div>
                <span style="float: right;margin-right: 5px" ng-if="editType!='look'">{{localeProperties["locale.option"]}}</span>
            </div>
            <div class="panel-body">
                <ul class="list-groupEdit">
                    <table class="table table-bordered">
                        <tbody>

                        <tr ng-repeat="(key,value) in userInformation"
                            ng-if="nameTranslation[key]&&editType=='look'">
                            <!--前半部分的提示框-->
                            <td class="bg-primary" width="25%">{{localeProperties[nameTranslation[key]]}}</td>

                            <!--后半部分编辑框-->
                            <td ng-if="key!='password' &&key!='birthDate' &&key!='privilegeEntityList' ">{{value}}</td>
                            <td ng-if="key!='password' && key=='birthDate'  &&key!='' ">{{value|date:"yyyy-MM-dd"}}</td>
                            <td ng-if="(userInformation.isEditing==false||userInformation.isEditing==undefined) && key=='password'">
                                ******
                            </td>
                            <td ng-if="userInformation.isEditing==true && key=='password'">
                                <input class="UserInformation" type="password" ng-model="userInformation.password">
                            </td>
                            <td ng-if="key=='privilegeEntityList' ">
                                <div class="UserInformation PrivEdit" id="PrivEditPass" ng-disabled="true">
                                    <ui-select multiple ng-model="userInformation.privilegeEntityList"
                                               close-on-select="false" ng-disabled="true">
                                        <ui-select-match placeholder="无">{{getChinesePrivilege( $item.type)}}</ui-select-match>
                                        <ui-select-choices
                                                repeat="privilege in rootPriv | filter: $select.search track by $index">
                                            <span ng-bind="getChinesePrivilege(privilege.type)"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </td>
                        </tr>




<!----------------------------------------------------如果是修改密码----------------------------------------------------------->
                        <tr ng-repeat="(key,value) in userInformation"
                            ng-if="nameTranslation[key]&&editType=='editPass'">
                            <!--前半部分的提示框-->
                            <td class="bg-primary" width="25%">{{localeProperties[nameTranslation[key]]}}</td>

                            <!--后半部分编辑框-->
                            <td ng-if="key!='password' &&key!='birthDate' &&key!='privilegeEntityList' ">{{value}}</td>
                            <td ng-if="key!='password' && key=='birthDate'  &&key!='' ">{{value|date:"yyyy-MM-dd"}}</td>
                            <td ng-if="(userInformation.isEditing==false||userInformation.isEditing==undefined) && key=='password'">
                                ******
                            </td>
                            <td ng-if="userInformation.isEditing==true && key=='password'">
                                <input class="UserInformation" type="password" ng-model="userInformation.password">
                            </td>
                            <td ng-if="key=='privilegeEntityList' ">
                                <div class="UserInformation PrivEdit" id="PrivEditPass" ng-disabled="true">
                                    <ui-select multiple ng-model="userInformation.privilegeEntityList"
                                               close-on-select="false" ng-disabled="true">
                                        <ui-select-match placeholder="无">{{getChinesePrivilege( $item.type)}}</ui-select-match>
                                        <ui-select-choices
                                                repeat="privilege in rootPriv | filter: $select.search track by $index">
                                            <span ng-bind="getChinesePrivilege(privilege.type)"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </td>
                        </tr>
<!----------------------------------------如果是修改密码和权限------------------------>
                        <tr ng-repeat="(key,value) in userInformation"
                            ng-if="nameTranslation[key]&&editType=='editPassAndPriv'">

                            <!--前半部分的提示框-->
                            <td class="bg-primary" width="25%">{{localeProperties[nameTranslation[key]]}}</td>

                            <td>
                                <input ng-if="key!='birthDate'&&key!='gender' &&key!='privilegeEntityList'"
                                       ng-disabled="!userInformation.isEditing"
                                       class="UserInformation form-control" type="text"
                                       ng-model="userInformation[key]" placeholder="请编辑内容">
                                <select class="UserInformation form-control" ng-if="key=='gender' "
                                        ng-disabled="!userInformation.isEditing" name=""
                                        ng-model="userInformation.gender">
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                                <input ng-if="key=='birthDate' " ng-disabled="!userInformation.isEditing"
                                       class="UserInformation form-control" id="UserInfoDatePicker"
                                       type="text" ng-model="userInformation.birthDate">
                                <div ng-if=" key=='privilegeEntityList' " class="UserInformation PrivEdit" id="PrivEditNew">
                                    <ui-select multiple ng-model="userInformation.privilegeEntityList"
                                               close-on-select="false">
                                        <ui-select-match placeholder="  请编辑内容">{{getChinesePrivilege( $item.type)}}</ui-select-match>
                                        <ui-select-choices
                                                repeat="privilege in privilegeCandidate | filter: $select.search track by $index">
                                            <span ng-bind="getChinesePrivilege(privilege.type)"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </td>
                        </tr>






                        <!--<tr ng-repeat="(key,value) in userInformation"-->
                            <!--ng-if="nameTranslation[key]&&editType=='editPassAndPriv'">-->

                            <!--&lt;!&ndash;前半部分的提示框&ndash;&gt;-->
                            <!--<td class="bg-primary" width="25%">{{localeProperties[nameTranslation[key]]}}</td>-->
                            <!--&lt;!&ndash;后半部分编辑框&ndash;&gt;-->

                            <!--<td ng-if="key!='password' &&key!='birthDate' &&key!='privilegeEntityList' ">{{value}}</td>-->
                            <!--<td ng-if="key!='password' && key=='birthDate'  &&key!='' ">{{value|date:"yyyy-MM-dd"}}</td>-->
                            <!--<td ng-if="(userInformation.isEditing==false||userInformation.isEditing==undefined) && key=='password'">-->
                                <!--******-->
                            <!--</td>-->
                            <!--<td ng-if="userInformation.isEditing==true && key=='password'">-->
                                <!--<input class="UserInformation" type="password" ng-model="userInformation.password">-->
                            <!--</td>-->

                            <!--<td ng-if=" key=='privilegeEntityList' ">-->
                                <!--<ui-select multiple ng-model="userInformation.privilegeEntityList"-->
                                           <!--close-on-select="false" ng-disabled="isSelf">-->
                                    <!--<ui-select-match placeholder="  请编辑内容">{{getChinesePrivilege( $item.type)}}</ui-select-match>-->
                                    <!--<ui-select-choices-->
                                            <!--repeat="privilege in privilegeCandidate | filter: $select.search track by $index">-->
                                        <!--<span ng-bind="getChinesePrivilege(privilege.type)"></span>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            <!--</td>-->
                        <!--</tr>-->


<!---------------------------------如果是添加新用户---------------------------------------------------->
                        <tr ng-repeat="(key,value) in userInformation"
                            ng-if="nameTranslation[key]&&editType=='editNew'">

                            <!--前半部分的提示框-->
                            <td class="bg-primary" width="25%">{{localeProperties[nameTranslation[key]]}}</td>

                            <td>
                                <input ng-if="key!='birthDate'&&key!='gender' &&key!='privilegeEntityList'"
                                       ng-disabled="!userInformation.isEditing"
                                       class="UserInformation form-control" type="text"
                                       ng-model="userInformation[key]" placeholder="请编辑内容">
                                <select class="UserInformation form-control" ng-if="key=='gender' "
                                        ng-disabled="!userInformation.isEditing" name=""
                                        ng-model="userInformation.gender">
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                                <input ng-if="key=='birthDate' " ng-disabled="!userInformation.isEditing"
                                       class="UserInformation form-control" id="UserInfoDatePicker"
                                       type="text" ng-model="userInformation.birthDate">
                                <div ng-if=" key=='privilegeEntityList' " class="UserInformation PrivEdit" id="PrivEditNew">
                                    <ui-select multiple ng-model="userInformation.privilegeEntityList"
                                               close-on-select="false">
                                        <ui-select-match placeholder="  请编辑内容">{{getChinesePrivilege( $item.type)}}</ui-select-match>
                                        <ui-select-choices
                                                repeat="privilege in privilegeCandidate | filter: $select.search track by $index">
                                            <span ng-bind="getChinesePrivilege(privilege.type)"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </ul>
            </div>
        </div>
    </div>
</div>

