<div container-fluid ng-controller="controllerIndexMessage">
    <div class="panel panel-primary IndexMessage">
        <div class="panel-heading IndexMessage">
            <div class="page-header IndexMessage" width="100%">
                <div style="display:inline-block;width: 87%;padding-left: 10px;padding-bottom: 10px;float: left">
                    <h3 class="IndexMessage">公告</h3>
                </div>
                <div style="display:inline-block;width: 3%;padding-left: 10px;padding-bottom: 10px;float: left"
                     class="hidden-xs"></div>
                <div style="display: inline-block;float: left;width: 8%">
                    <button ng-if="HasFrontMessagePriv" type="button" class="btn btn-danger btn-sm"
                            style="display: inline-block;margin-top: 8px"
                            ng-click="addItemEntity(pageList,ItemType.ANNOUNCEMENT)">
                        <span class="glyphicon glyphicon-plus"></span>
                        <div class="hidden-xs hidden-sm" style="display: inline;">
                            <br class="visible-xs-block">&nbsp;
                            <h6 style="display:inline-block; margin: 0px">新建</h6>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="table-responsive">
                    <!--pagelist{{pagelist}}-->
                    <table ng-table="frontMessageTableParams" class="table " show-filter="false">
                        <tr ng-repeat="item in $data">
                            <td ng-cloak="" title="'时间'" width="10%" align="left" style="min-width: 50px;">
                                {{item.createDate|date:"yyyy-MM-dd"}}
                            </td>
                            <td ng-cloak="" title="'标题'" width="10%" align="left" style="min-width: 50px;">
                                <textarea class="IndexMessage" ng-model="item.title" ng-disabled="!item.isEditing"
                                          width="100%"
                                          rows="1"></textarea>
                            </td>
                            <td ng-cloak="" title="'内容'" align="left">
                                <textarea class="IndexMessage" ng-model="item.description" ng-disabled="!item.isEditing"
                                          width="100%"
                                          rows="1"></textarea>
                            </td>
                            <td ng-cloak="" title="'编辑'" width="10%" ng-if="HasFrontMessagePriv">
                                <button ng-if="!item.isEditing" type="button" class="btn btn-primary btn-sm"
                                        ng-click="item.isEditing=!item.isEditing">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button ng-if="item.isEditing" type="button" class="btn btn-primary btn-sm"
                                        ng-click="item.isEditing=!item.isEditing;saveItemEntity(item)">
                                    <span class="glyphicon glyphicon-floppy-saved"></span>
                                </button>
                                <br class="visible-xs-block">
                                <!--在超小屏幕换行-->
                                <button ng-if="!item.isEditing" type="button" class="btn btn-danger btn-sm"
                                        ng-click="item.isEditing=!item.isEditing;deleteItemEntity(item,$index,$data)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button ng-if="item.isEditing" type="button" class="btn btn-danger btn-sm"
                                        ng-click="item.isEditing=!item.isEditing;revertItemEntity(item,$data);">
                                    <span class="glyphicon glyphicon-floppy-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>