<div style="height: 10%;width: 100%"></div>
<div style="float: left;width: 10%;height: 1px"></div>
<div ng-controller="controllerCourseCenterStudent" style="float: left;width: 80%">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{localeProperties["locale.chosenCourse"]}}</h3>
        </div>
        <div class="panel-body">
            <button style="margin-right: 10px;" class="btn btn-sm btn-primary" ng-repeat="x in currentUser.groupEntityList"
             ng-click="goToCourseResource(x)">{{x.name}}</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{localeProperties["locale.allCourse"]}}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>{{localeProperties["locale.courseName"]}}</td>
                    <td>{{localeProperties["locale.courseDescription"]}}</td>
                    <td>{{localeProperties["locale.teacher"]}}</td>
                    <td>{{localeProperties["locale.option"]}}</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in allCourse">
                    <td>{{x.name}}</td>
                    <td>{{x.description}}</td>
                    <td>{{x.creator.name}}</td>
                    <td> <button class="btn btn-sm btn-primary" ng-click="applyCurrentUserToGroup(x.id)">{{localeProperties["locale.applyToJoin"]}}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
