<div container-fluid ng-controller="controllerIndexMessage">
    <div class="panel panel-primary IndexMessage">
        <div class="panel-heading IndexMessage">
            <div class="page-header IndexMessage" width="100%">
                <div style="display:inline-block;width: 87%;padding-left: 10px;padding-bottom: 10px;float: left">
                    <h3 class="IndexMessage">{{localeProperties["locale.announcement"]}}</h3>
                </div>
                <div style="display:inline-block;width: 3%;padding-left: 10px;padding-bottom: 10px;float: left"
                     class="hidden-xs"></div>
                <div style="display: inline-block;float: left;width: 8%">
                    <button ng-if="HasFrontMessagePriv" type="button" class="btn btn-danger btn-sm"
                            style="display: inline-block;margin-top: 8px"
                            ng-click="addItemEntity(pageList,ItemType.ANNOUNCEMENT)">
                        <span class="glyphicon glyphicon-plus"></span>
                        <div class="hidden-xs hidden-sm" style="display: inline;">
                            <br class="visible-xs-block">&nbsp;
                            <h6 style="display:inline-block; margin: 0px">新建</h6>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="table-responsive">
                    <!--pagelist{{pagelist}}-->
                    <table ng-table="frontMessageTableParams" class="table " show-filter="false">
                        <tr ng-repeat="item in $data">
                            <td ng-cloak="" title="localeProperties['locale.date']" width="20%" align="left" style="min-width: 50px;">
                                {{item.createDate|date:"yyyy-MM-dd"}}
                            </td>
                            <td ng-cloak="" title="localeProperties['locale.courseName']" width="20%"  align="left" >
                                {{item.classGroup.name}}
                            </td>
                            <td ng-cloak="" title="localeProperties['locale.title']" width="20%" align="left" style="min-width: 50px;">
                                <textarea class="IndexMessage" ng-model="item.title" ng-disabled="!item.isEditing"
                                          width="100%"
                                          rows="1"></textarea>
                            </td>
                            <td ng-cloak="" title="localeProperties['locale.content']" align="left">
                                <textarea class="IndexMessage" ng-model="item.description" ng-disabled="!item.isEditing"
                                          width="100%"
                                          rows="1"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>