input.UserInformation{
    border-radius: 5px;
    border: 1px dotted #337ab7;
    width: 100%;
}
select.UserInformation{
    border-radius: 5px;
    border: 1px dotted #337ab7;
    width: 100%;
    height:35px;
}
div.UserInformation.PrivEdit{
    border-radius: 5px;
    border: 1px dotted #337ab7;
    width: 100%;
}