.navbar {
    background-color: #337ab7;
}
div a.navbar-brand {
    color: white !important;
    font-size: 2em;
}
div a.navbar-brand:hover {
    background-color:  #2b659a !important;
}
div ul.nav li a {
    color: white !important;
}
div ul.nav li a :hover {
    background-color:  #2b659a !important;
}
li ul.dropdown-menu, a.dropdown-toggle {
    background-color: #337ab7 !important;
}
.dropdown-menu.HeaderMenu{
    width: 100px!important;
}
li.dropdown ul li a:hover, a.dropdown-toggle:hover, div ul.nav li a:hover {
    background-color:  #2b659a !important;
}

button.navbar-toggle {
    background-color: white;
}
span.icon-bar {
    color: #337ab7 !important;
    background-color: #337ab7 !important;
}
