<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/p"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <!--<http security="none" pattern="">-->
        <!--<intercept-url pattern="/TeachingPlatform/view/5html/logIn.html"  access="permitAll"></intercept-url>-->
    <!--</http>-->
        <!--<session-management invalid-session-url="/view/5html/toLogin.html" session-fixation-protection="newSession"  ></session-management>-->
        <!--<intercept-url pattern="/view/5html/logIn.html" access="permitAll"></intercept-url>-->

    <http auto-config="true" use-expressions="true">
        <session-management invalid-session-url="/view/5html/toLogin.html"></session-management>
        <intercept-url pattern="/view/**" access="permitAll"></intercept-url>
        <!--允许在登陆前拿到国际化信息-->
        <intercept-url pattern="/Locale/getLocaleProperties" access="permitAll"></intercept-url>
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <form-login login-page="/view/5html/logIn.html"
                    login-processing-url="/logIn"
                    username-parameter="username"
                    password-parameter="password"
                    authentication-success-handler-ref="authSuccessHandlerImpl"
                    authentication-failure-handler-ref="authFailureHandlerImpl"/>
        <logout logout-url="/logOut" logout-success-url="/view/5html/logIn.html" delete-cookies="JSESSIONID" invalidate-session="true"/>
        <csrf disabled="true"/>
    </http>

    <!--<security:http auto-config="true">-->
    <!--<security:intercept-url pattern="/**" access="ROLE_USER"/>-->
    <!--</security:http>-->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsServiceImpl">
            <password-encoder hash="plaintext"></password-encoder>
        </authentication-provider>
        <!--<authentication-provider>-->
        <!--<user-service>-->
        <!--<user name="user" password="user" authorities="ROLE_USER"/>-->
        <!--<user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN"/>-->
        <!--</user-service>-->
        <!--<password-encoder hash="md5"></password-encoder>-->
        <!--&lt;!&ndash;设置用MD5加密&ndash;&gt;-->
        <!--</authentication-provider>-->
    </authentication-manager>

</b:beans>