<directive-roll-picture></directive-roll-picture>
<div container-fluid>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="page-header"><h1>公告</h1></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div ng-controller="controllerIndexMessage" class="table-responsive">
                    <!--pagelist{{pagelist}}-->
                    <table ng-table="frontMessageTableParams" class="table " show-filter="false">
                        <tr ng-repeat="item in $data">
                            <td ng-cloak="" title="'时间'" width="10%" align="left">
                                {{item.createDate|date:"yyyy-MM-dd"}}
                            </td>
                            <td ng-cloak="" title="'标题'" width="10%" align="left">
                                <textarea ng-model="item.title" ng-disabled="!item.isEditing" width="100%" rows="1"></textarea>
                            </td>
                            <td ng-cloak="" title="'内容'" width="75%" align="left">
                                <textarea ng-model="item.description" ng-disabled="!item.isEditing" width="100%"
                                          rows="1"></textarea>
                            </td>
                            <td ng-cloak="" title="'编辑'" width="5%" ng-if="editable">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="item.isEditing=!item.isEditing">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>