<div>
    <!--<directive-roll-picture></directive-roll-picture>-->
    <div ng-controller="controllerRollPicture">
        <div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-inner" role="listbox" width="100%">
                <div class="carousel-picture" ng-class="{true:'item active',false:'item'}[$index==0]"
                     ng-repeat="item in pictures"
                     width="100%">
                    <img ng-src="{{item.resources[0].htmlAccessPath}}" ng-alt="" width="100%" height="100%">
                    <div ng-if="item.resources==undefined" class="bg-danger" width="100%">
                        <br>
                        <!--<table width="100%">-->
                            <!--<tr width="100%">-->
                                <!--<td width="30%"></td>-->
                                <!--<td align="center" width="40%">-->
                                    <!--<form action="">-->
                                        <!--<input id="inputid" type="file"  multiple>-->
                                        <!--<script type="text/javascript">-->
                                            <!--$("#inputid").fileinput({language:"zh",showCaption:false, showDelete:true,browseLabel:"请上传图片"});-->
                                        <!--</script>-->
                                    <!--</form>-->
                                <!--</td>-->
                                <!--<td width="30%"></td>-->
                            <!--</tr>-->
                        <!--</table>-->
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>

                    <div class="carousel-caption" ng-if="item.resources!=undefined">
                        <div width="50" class="" height="100%">
                            <table width="100%" cellpadding="20px" cellspacing="10px" align="center">
                                <tr>
                                    <td align="center">
                                        <div style="width: 90%">
                                            <textarea class="rollPictureDes" ng-disabled="!item.isEditing" rows="1"
                                                      ng-model="item.description"
                                                      style="text-align: left;" data-ng-trim="false"></textarea>
                                        </div>
                                    </td>
                                    <td width="20%" ng-if="HasFrontMessagePriv">
                                        <button ng-if="!item.isEditing" type="button" class="btn btn-primary"
                                                ng-click="item.isEditing=!item.isEditing">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button ng-if="item.isEditing" type="button" class="btn btn-primary"
                                                ng-click="item.isEditing=!item.isEditing;saveItemEntity(item)">
                                            <span class="glyphicon glyphicon-floppy-saved"></span>
                                        </button>
                                        <button ng-if="item.isEditing" type="button" class="btn btn-danger"
                                                ng-click="item.isEditing=!item.isEditing;revertItemEntity(item,pictures);">
                                            <span class="glyphicon glyphicon-floppy-remove"></span>
                                        </button>
                                        <button ng-if="!item.isEditing" type="button" class="btn btn-danger"
                                                ng-click="item.isEditing=!item.isEditing;deleteItemEntity(item,$index,pictures)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button ng-if="!item.isEditing" type="button" class="btn btn-danger"
                                                style="display: inline-block;"
                                                ng-click="addItemEntity(pictures,ItemType.ROLLPICTURE)">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            <div class="hidden-xs hidden-sm" style="display: inline;">
                                                <!--<br class="visible-xs-block">&nbsp;-->
                                                <!--<small style="display:inline-block; margin: 0px">新建</small>-->
                                            </div>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <ol class="carousel-indicators">
                <li ng-class="{true:'active',false:''}[$index==0]" data-target="#carousel-example-generic"
                    data-slide-to="{{$index}}"
                    ng-repeat="item in pictures"></li>
            </ol>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div ng-if="false">
            <div id="slickContainer" style="height: 100px;background-color:red;">
                <div width="{{pictures.pictures.length*100}}px">
                    <div class="slick">
                        <div ng-repeat="x in pictures.pictures">
                            <a ng-href="{{x.href}}">
                                <img ng-src="{{x.href}}" style="height: 100px;width: 100px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div container-fluid ng-controller="controllerIndexMessage">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="page-header" width="100%">
                    <div style="display:inline-block;width: 87%;padding-left: 10px;padding-bottom: 10px;float: left">
                        <h3>公告</h3>
                    </div>
                    <div style="display:inline-block;width: 3%;padding-left: 10px;padding-bottom: 10px;float: left"
                         class="hidden-xs"></div>
                    <div style="display: inline-block;float: left;width: 8%">
                        <button ng-if="HasFrontMessagePriv" type="button" class="btn btn-danger btn-sm"
                                style="display: inline-block;margin-top: 8px"
                                ng-click="addItemEntity(pageList,ItemType.ANNOUNCEMENT)">
                            <span class="glyphicon glyphicon-plus"></span>
                            <div class="hidden-xs hidden-sm" style="display: inline;">
                                <br class="visible-xs-block">&nbsp;
                                <h6 style="display:inline-block; margin: 0px">新建</h6>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="table-responsive">
                        <!--pagelist{{pagelist}}-->
                        <table ng-table="frontMessageTableParams" class="table " show-filter="false">
                            <tr ng-repeat="item in $data">
                                <td ng-cloak="" title="'时间'" width="10%" align="left" style="min-width: 50px;">
                                    {{item.createDate|date:"yyyy-MM-dd"}}
                                </td>
                                <td ng-cloak="" title="'标题'" width="10%" align="left" style="min-width: 50px;">
                                <textarea class="indexMessage" ng-model="item.title" ng-disabled="!item.isEditing"
                                          width="100%"
                                          rows="1"></textarea>
                                </td>
                                <td ng-cloak="" title="'内容'" align="left">
                                <textarea class="indexMessage" ng-model="item.description" ng-disabled="!item.isEditing"
                                          width="100%"
                                          rows="1"></textarea>
                                </td>
                                <td ng-cloak="" title="'编辑'" width="10%" ng-if="HasFrontMessagePriv">
                                    <button ng-if="!item.isEditing" type="button" class="btn btn-primary btn-sm"
                                            ng-click="item.isEditing=!item.isEditing">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button ng-if="item.isEditing" type="button" class="btn btn-primary btn-sm"
                                            ng-click="item.isEditing=!item.isEditing;saveItemEntity(item)">
                                        <span class="glyphicon glyphicon-floppy-saved"></span>
                                    </button>
                                    <br class="visible-xs-block">
                                    <!--在超小屏幕换行-->
                                    <button ng-if="!item.isEditing" type="button" class="btn btn-danger btn-sm"
                                            ng-click="item.isEditing=!item.isEditing;deleteItemEntity(item,$index,$data)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    <button ng-if="item.isEditing" type="button" class="btn btn-danger btn-sm"
                                            ng-click="item.isEditing=!item.isEditing;revertItemEntity(item,$data);">
                                        <span class="glyphicon glyphicon-floppy-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="/TeachingPlatform/File/uploadListFile" enctype="multipart/form-data" method="post">
        <input id="testFile" type="file" name="files" multiple="multiple">
        <!--<input type="button" value="提交" ng-click="uploadFile()">-->
        <input type="submit" value="提交">
    </form>

    <!--<form action="">-->
    <input id="input-id" type="file"  multiple>
    <script type="text/javascript">
        $("#input-id").fileinput({language:"zh",showCaption:false, showDelete:true,browseLabel:"请上传图片"});
    </script>
    <!--</form>-->

</div>