<div style="width: 15%">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"
         style="
         border: 1px solid var(--basic-color);
         position: absolute;
         top: 50px;
         bottom: 0px;">
        <div class="panel SideMenu" style="">
            <div class="panel-heading SideMenu" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <button class="btn btn-flat btn-instagram btn-block">Collapsible Group Item #1</button>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body SideMenu">
                    <button class="btn btn-flat btn-block ">Collapsible Group Item #1</button>
                    <button class="btn btn-flat btn-block ">Collapsible Group Item #1</button>
                    <button class="btn btn-flat btn-block ">Collapsible Group Item #1</button>
                </div>
            </div>
        </div>
        <div class="panel  SideMenu">
            <div class="panel-heading SideMenu" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <button class="btn btn-flat btn-instagram btn-block">Collapsible Group Item #1</button>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body SideMenu">
                    <button class="btn btn-flat btn-block ">Collapsible Group Item #1</button>
                    <button class="btn btn-flat btn-block ">Collapsible Group Item #1</button>
                    <button class="btn btn-flat btn-block ">Collapsible Group Item #1</button>
                </div>
            </div>
        </div>
        <div class="panel  SideMenu">
            <div class="panel-heading SideMenu" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <button class="btn btn-flat btn-instagram btn-block ">Collapsible Group Item #1</button>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body SideMenu">
                    <button class="btn btn-flat btn-block ">Collapsible Group Item #1</button>
                    <button class="btn btn-flat btn-block ">Collapsible Group Item #1</button>
                    <button class="btn btn-flat btn-block ">Collapsible Group Item #1</button>
                </div>
            </div>
        </div>
    </div>
</div>