html
  body
    //
      Created by 2 on 2016/11/14.
    // 公共引用
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/app.css')
    script(src='../js/jquery-3.1.1.min.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/angular.min.js')
    script(src='../js/app.js')
