@import "1global";
textarea.rollPictureDes {
  width: 80%;
  resize: none;
  overflow: hidden !important;
  border-radius: 5px;
  font-size: 1.5em;
  background-color: $basicColor;
  color: white;
  text-indent: 2em;
}

textarea.rollPictureDes:disabled {
  border: 0px;
  color: white;
  overflow: hidden !important;
}

textarea.rollPictureDes:enabled {
  border: 1px dotted white;
}

.carousel-control {
  color: $hoverColor !important;
  text-shadow: none !important;
  background-image: none !important;
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}