<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/TeachingPlatform/view/css/lib.css">
    <link rel="stylesheet" href="/TeachingPlatform/view/css/app.css">
</head>
<body>
<directive-header></directive-header>
<!--这个菜单是除了登录页面，所有页面共用的-->
<ui-view></ui-view>
</body>
</html>
<script src="/TeachingPlatform/view/js/lib.js"></script>
<script src="/TeachingPlatform/view/js/app.js"></script>