<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/TeachingPlatform/view/img/favico.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/TeachingPlatform/view/css/lib.css">
    <link rel="stylesheet" href="/TeachingPlatform/view/css/app.css">
</head>
<body>
<div class="logInContent">
    <form action="/TeachingPlatform/logIn" method="post" role="form" autocomplete="off">
        <legend>登录</legend>
        <div class="form-groupEdit">
            <input type="text" style="display:none">
            <input type="text" class="form-control" name="username" placeholder="请输入用户名" autocomplete="off">
            <br>
            <input type="password" style="display:none">
            <input type="password" class="form-control" name="password" placeholder="请输入密码" autocomplete="new-password">
            <br>
            <button type="submit" class="btn btn-primary btn-block">提交</button>
        </div>
    </form>
</div>
</body>
</html>
<script src="/TeachingPlatform/view/js/lib.js"></script>
<script src="/TeachingPlatform/view/js/app.js"></script>