<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta http-equiv="X-Frame-Options" content="ALLOW-FROM http://127.0.0.1:8088/LearnWeb">-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/TeachingPlatform/view/img/favico.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/TeachingPlatform/view/css/lib.css">
    <link rel="stylesheet" href="/TeachingPlatform/view/css/app.css">
    <script src="/TeachingPlatform/view/js/lib.js"></script>
    <script src="/TeachingPlatform/view/js/app.js"></script>
</head>
<body>
<div class="logInContent" ng-controller="controllerLogIn">
    <form action="/TeachingPlatform/logIn" method="post" role="form" autocomplete="off">
        <legend ng-cloak="">{{localeProperties["locale.logIn"]}}</legend>
        <div class="form-groupEdit">
            <input type="text" style="display:none">
            <input ng-cloak="" type="text" class="form-control" name="username" placeholder="{{localeProperties['locale.pleaseInputUserName']}}" autocomplete="off">
            <br>
            <input type="password" style="display:none">
            <input type="password" ng-cloak="" class="form-control" name="password" placeholder="{{localeProperties['locale.pleaseInputPassword']}}"
                   autocomplete="new-password">
            <br>
            <button type="submit" ng-cloak=""   class="btn btn-primary btn-block">{{localeProperties["locale.submit"]}}</button>
        </div>
    </form>
</div>
<!--<script src="/TeachingPlatform/view/js/lib.js"></script>-->
<!--<script src="/TeachingPlatform/view/js/app.js"></script>-->
<script>
//    console.log("index")
//    console.log("index")
//    $.ajax({
//        url:webRootUrl+"Locale/getLocaleProperties",
//        success:function (response) {
//            $rootScope.localeProperties=response.data;
//            $rootScope.$apply();
//        },
//        async:false
//    })
</script>
</body>
</html>
