.navbar {
    background-color: var(--basic-color);
}
div a.navbar-brand {
    color: var(--white-color) !important;
    font-size: 2em;
}
div a.navbar-brand:hover {
    background-color: var(--hover-color) !important;
}
div ul.nav li a {
    color: var(--white-color) !important;
}
div ul.nav li a :hover {
    background-color: var(--hover-color) !important;
}
li ul.dropdown-menu, a.dropdown-toggle {
    background-color: var(--basic-color) !important;
}
.dropdown-menu.HeaderMenu{
    width: 100px!important;
}
li.dropdown ul li a:hover, a.dropdown-toggle:hover, div ul.nav li a:hover {
    background-color: var(--hover-color) !important;
}

button.navbar-toggle {
    background-color: var(--white-color);
}
span.icon-bar {
    color: var(--basic-color) !important;
    background-color: var(--basic-color) !important;
}
