.navbar {
    background-color: var(--basic-color);
}

div a.navbar-brand {
    color: var(--white-color) !important;
    font-size: 2em;
}

div a.navbar-brand:hover {
    background-color: var(--hover-color) !important;
}

div ul.nav li a {
    color: var(--white-color) !important;
}

div ul.nav li a :hover {
    background-color: var(--hover-color) !important;
}

li ul.dropdown-menu, a.dropdown-toggle {
    background-color: var(--basic-color) !important;
}

li.dropdown ul li a:hover, a.dropdown-toggle:hover, div ul.nav li a:hover {
    background-color: var(--hover-color) !important;
}

button.navbar-toggle {
    background-color: var(--white-color);
}

span.icon-bar {
    color: var(--basic-color) !important;
    background-color: var(--basic-color) !important;
}

h3 {
    margin: 10px 0 0 0;
}

.panel {
    margin: 1px;
}

.panel-heading {
    padding: 0px;
}

.panel-body {
    padding: 20px;
}

.page-header {
    overflow: auto;
    /*margin:0px;*/
    margin: 0px 0px 0px 0px;
    padding: 0px !important;
    /*padding-left: 10px;*/
    /*margin-left: 10px;*/
}

textarea.rollPictureDes {
    width: 80%;
    resize: none;
    overflow: hidden !important;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: var(--basic-color);
    color: white;
    text-indent: 2em;
}

textarea.rollPictureDes:disabled {
    border: 0px;
    color: white;
    overflow: hidden !important;
}

textarea.rollPictureDes:enabled {
    border: 1px dotted var(--white-color);
}




textarea.indexMessage {
    width: 100%;
    resize: none;
    text-align: left;
    overflow: hidden !important;
    border-radius: 5px;
    border: 1px dotted var(--basic-color);
}

textarea.indexMessage:disabled {
    border: 0px;
    background-color: transparent;
}

.ng-table-header {
    text-align: left;
    align: left;
}

.ng-table-pager,
.pagination,
.ng-table-pagination {
    margin: 0;
}


.carousel-control{
    color: var(--hover-color)!important;
    text-shadow: none!important;
    background-image: none!important;
    filter: alpha(opacity=100)!important;
    opacity: 1!important;
}
