<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script>

    /**
     *
     var scopeA = new Scope();
     scopeA.title = 'My title';
     var scopeB = scopeA.$clone();
     //实例有$clone方法用创建一个对象克隆，表现如下
     console.log(scopeB.title === 'My title' ); //输出true
     scopeA.title = 'Home title' ;
     console.log(scopeB.title === 'Home title' );//输出true
     //但是一旦scopeB主动修改它的属性，scopeA并不受影响
     scopeB.title = 'scopeB title' ;
     console.log(scopeA.title === 'Home title' )//输出true

     * @constructor
     */
    function Scope() {
        Scope.prototype.$clone=function () {
            //注释的两行代码也可以实现上面注释的功能，但是没有Object.create(this)好。
//            Scope.prototype=this;
//            return new Scope();
            request.open('')
            return Object.create(this)
        }
    }

    var scopeParent=new Scope();
    scopeParent.scope='scope parent'
    var scopeChild=scopeParent.$clone();
    var scopeChild2=scopeParent.$clone();
    console.log(scopeParent.scope);
    console.log(scopeChild.scope);
    scopeParent.scope='scope parent changed';
    console.log(scopeParent.scope);
    console.log(scopeChild.scope);
    scopeChild.scope='child scope changed';
    console.log(scopeParent.scope);
    console.log(scopeChild.scope);
</script>
</html>