<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style type="text/css">
    li{
        float: left!important;
        display: inline-block!important;
    }
</style>
<h4>Disc 项目符号列表：</h4>

<ul type="disc" onclick="fruitClick(event)">
    <li>苹果</li>
    <li>香蕉</li>
    <li>柠檬</li>
    <li>桔子</li>
</ul>
<br>
<div id="fruitDisplay"></div>
<br>
<h4>Circle 项目符号列表：</h4>
<ul type="circle">
    <li>苹果</li>
    <li>香蕉</li>
    <li>柠檬</li>
    <li>桔子</li>
</ul>
<br>
<h4>Square 项目符号列表：</h4>
<ul type="square">
    <li>苹果</li>
    <li>香蕉</li>
    <li>柠檬</li>
    <li>桔子</li>
</ul>

</body>
<script>
    fruitClick=function (event) {
        document.getElementById('fruitDisplay').innerHTML=event.srcElement.innerHTML;
    }
</script>
</html>
